body{
    background-color: #E0E0E0;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.mood-nav-bar{
    background-color: white;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 99;
    height: 70px;
}
.page-content {
    margin: 0 auto;
    padding: 10rem 2rem
}
.creation-form-wrapper{
    background: white;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    text-align: center;
    font-size: 1.3rem;
}
.creation-form-wrapper input{
    padding: 1.5rem;
    border-radius: .25rem;
    border: 1px solid #A0A0A2;
}
.input-wrapper{
    margin-bottom: 2rem;
}
.input-wrapper span{
    font-size: 2rem;
    display: inline-block;
    font-weight: 700;
}
h1{
    letter-spacing: -1px;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}
.flex-wrapper{

}
.arrow-icon::before{
content: "Create instance";
}