<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>URL</th>
          <th>Status</th>
          <th>Creation Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stack of stacks">
          <td>{{stack.stackName}}</td>
          <td>
            <a href="http://{{stack.url}}">
              <div style="height:100%;width:100%">
                http://{{stack.url}}              
              </div>
            </a>
          </td>
          <td>{{stack.status}}</td>
          <td>{{stack.creationTime | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a routerLink="/createtenants"><button class="btn btn-success pull-right" > Create Tenant</button></a>
  <a><button class="btn btn-success pull-left" (click)="refresh()"> Refresh</button></a>
  
</div>
